* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-size: 16px;
  @media screen and (max-width: 724px) {
    font-size: 12px;
  }

  @media screen and (max-width: 555px) {
    font-size: 14px;
  }
}

.wrapper {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  background: gray;
  width: 1440px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "control control"
                       "today location"
                       "forecast location";
  @media screen and (max-width: 1439px) {
    width: 100%;
  }

  @media screen and (max-width: 1079px) {
    background: red;
    grid-template-areas: "control control"
                       "today ."
                       "forecast forecast"
                       "location location";
  }

  @media screen and (max-width: 724px) {
    background: green;
  }

  @media screen and (max-width: 555px) {
    background: blue;
    width: 320px;
    margin: 0 auto;
  }
}

.active {
  background: rgba(174, 181, 185, 0.5);
}

.inactive {
  background: rgba(76, 82, 85, 0.4);
  color:rgba(255, 255, 255, 0.4);
}

.control {
  grid-area: control;
  display: flex;
  justify-content: space-between;
  padding: 40px 3% 0 3%;
  color: #FFFFFF;

  &__panel {
    height: 44px;
    display: flex;

    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
  }

  &__panel_refresh {
    width: 44px;
    background: rgba(174, 181, 185, 0.5) url("./assets/images/Vector.png") no-repeat 50% 50%;
    cursor: pointer;
  }

  &__panel_lang {
    display: flex;
    margin-left: 15px;
  }

  &__panel_deg {
    display: flex;
    margin-left: 15px;
  }

  &__panel_refresh,
  &__panel_lang div,
  &__panel_deg div {
    width: 44px;
    height: 44px;

    border-radius: 5px;
    text-align: center;
    line-height: 44px;

    cursor: pointer;
  }

  &__search {
    height: 44px;
    display: flex;
  }

  &__search_input {
    width: 220px;
    padding-left: 4px;

    background: rgba(76, 82, 85, 0.4);
    border: none;
    color:white;
    outline-width: 0;

    font-size: 1.188rem;
    line-height: 44px;
  }

  &__search_input::-webkit-input-placeholder {
    font-size: 1rem;
    line-height: 1.188rem;
    color: white;
    padding-left: 2px;
  } 

  &__search_input::-moz-placeholder {
    font-size: 1rem;
    line-height: 1.188rem;
    color: white;
    padding-left: 4px;
  }

  &__search_micro {
    width: 40px;

    background: rgba(76, 82, 85, 0.4) url("./assets/images/micro.svg") no-repeat 50% 50%;

    outline-width: 0;
    border: none;

    cursor: pointer;
  }

  &__search_button {
    width: 101px;

    text-align: center;
    line-height: 44px;

    background: rgba(174, 181, 185, 0.5);

    cursor: pointer;
  }

  @media screen and (max-width: 724px) {
    flex-wrap: wrap;

    &__panel_deg {
      margin-right: 20px;
    }

    &__search {
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 555px) {
    &__search_input {
      width: 180px;
    }

    &__search_button {
      width: 80px;
    }
  }
}

.today-weather {
  grid-area: today;
  display: flex;
  padding: 60px 0 0 6%;

  color: white;

  &__place {
    font-weight: bold;
    font-size: 3.125rem;
    line-height: 4rem;
  }

  &__date {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.813rem;
  }

  &__forecast {
    font-size: 19.13rem;
    line-height: 23.31rem;
  }

  &__icon {
    width: 163px;
    height: 103px;
    margin-top: 100px;

    background: rgba(76, 82, 85, 0.4);
  }

  &__other {
    padding-top: 40px;

    font-weight: bold;
    font-size: 1.375rem;
    line-height: 2.313rem;
  }

  @media screen and (max-width: 555px) {
    flex-wrap: wrap;

    &__forecast {
      font-size: 14rem;
      line-height: 18rem;
    }

    &__icon {
      margin-top: 0;
    }

    &__other {
      padding: 0 0 0 30px;
    }

    &__container2 {
      display: flex;
      justify-content: space-between;
    }
  }
}

.weather-forecast {
  grid-area: forecast;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 2% 0 6%;

  color: white;

  &__day {
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 1.688rem;
  }

  &__day div {
    display: flex;
  }

  &__day span {
    font-weight: 600;
    font-size: 5rem;
    line-height: 6.125rem;
  }

  &__day div div{
    margin: 10px 0 0 5px;
    width: 66px;
    height: 42px;

    background: rgba(76, 82, 85, 0.4);
  }

  @media screen and (max-width: 555px) {
    display: block;

    &__day {
      margin-top: 10px;
      width: 200px;
      margin: 0 auto;
    }
  }
}

.location {
  grid-area: location;

  &__map {
    width: 375px;
    height: 400px;
    margin: 120px 0 0 30%;

    background: rgba(76, 82, 85, 1);
  }

  &__coord {
    width: 50%;
    height: 53px;
    margin: 20px 0 0 30%;
    text-align: end;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: white;
  }

  @media screen and (max-width: 555px) {
    &__map {
      width: 288px;
      height: 207px;
      margin: 20px 5% 0 5%;
    }

    &__coord {
      width: 288px;
      margin: 20px 0 0 0;
    }
  }
}
